<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.LogicPuzzles">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PuzzleMenuActivity"/>
        <activity android:name=".nonogram.NonogramGameActivity"/>
        <activity android:name=".mastermind.MastermindGameActivity"/>
        <activity android:name=".lightsout.LightsOutGameActivity"/>
        <activity android:name=".kakuro.KakuroGameActivity"/>
        <activity android:name=".logicgrid.LogicGridGameActivity"/>
        <activity android:name=".slitherlink.SlitherlinkGameActivity"/>
        <activity android:name=".nurikabe.NurikabeGameActivity"/>
        <activity android:name=".hidato.HidatoGameActivity"/>
        <activity android:name=".futoshiki.FutoshikiGameActivity"/>
        <activity android:name=".skyscraper.SkyscraperGameActivity"/>
    </application>
</manifest>
