<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.LogicPuzzles">

        <activity
            android:name="com.logicpuzzles.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.logicpuzzles.PuzzleMenuActivity"/>
        <activity android:name="com.logicpuzzles.nonogram.NonogramGameActivity"/>
        <activity android:name="com.logicpuzzles.mastermind.MastermindGameActivity"/>
        <activity android:name="com.logicpuzzles.lightsout.LightsOutGameActivity"/>
        <activity android:name="com.logicpuzzles.kakuro.KakuroGameActivity"/>
        <activity android:name="com.logicpuzzles.logicgrid.LogicGridGameActivity"/>
        <activity android:name="com.logicpuzzles.slitherlink.SlitherlinkGameActivity"/>
        <activity android:name="com.logicpuzzles.nurikabe.NurikabeGameActivity"/>
        <activity android:name="com.logicpuzzles.hidato.HidatoGameActivity"/>
        <activity android:name="com.logicpuzzles.futoshiki.FutoshikiGameActivity"/>
        <activity android:name="com.logicpuzzles.skyscraper.SkyscraperGameActivity"/>
    </application>
</manifest>
